#######################################################################
#colorscheme

# set primary gruvbox colorscheme colors
set $bg #282828
set $red #cc241d
set $green #98971a
set $yellow #d79921
set $blue #458588
set $purple #b16286
set $aqua #689d68
set $gray #a89984
set $darkgray #1d2021

# aqua
set $accent_col #689d68
# green
#set $accent_col #98971a
# blue
#set $accent_col #458588
# Purple
#set $accent_col #b16286

# gray
#set $neutral_back #a89984
#
#set $neutral_back #fbf1c7
set $neutral_back #32302f

#color                  border        background    text          indicator child_border
client.focused          $accent_col   $accent_col   $neutral_back $purple $accent_col
client.focused_inactive $neutral_back $neutral_back $gray     $purple $neutral_back
client.unfocused        $neutral_back $neutral_back $yellow         $purple $neutral_back
client.urgent           $red          $red          $white        $red    $red
