# Content of /etc/X11/xorg.conf.d/52-wacom-options.conf
# Best settings so far
# # Xournal options
# Button 3 (lower) does not do anything when eraser tip is disabled
# Button 3 (lower) is eraser when eraser tip is enables in options, button 3 cannot be mapped to any other job
# Button 3 works for everything, can be mapped
# Turn on eraser tip
# button 2 - select region
# button 3 - eraser
Section "InputClass"
    Identifier "Wacom HID 50EE Pen stylus"
    MatchDriver "wacom"
    MatchProduct "Pen"
    
    # Apply custom Options to this device below.
    Option "Rotate" "none"
    Option "RawSample" "4"
    # Threshold does not work from xorg config
    # So added this line in bashrc and it works well
    Option "Threshold" "500"
    Option "PressCurve" "0,10,90,100"
EndSection
